workflow/Movie Recommender.json
{
  "name": "AI Movie Recommender (Vector Search)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -176,
        -64
      ],
      "id": "2d51caf4-308d-44e8-a20b-0e684bdfda42",
      "name": "When chat message received",
      "webhookId": "4fb1e679-aae8-410a-b476-9016ef900c24"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        32,
        -64
      ],
      "id": "f177910b-7147-4f30-a5f6-64355b685dcf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -32,
        160
      ],
      "id": "94fb1c2a-e1f9-4311-9780-219f4ac86885",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "74f04AzjgNdUrhq7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        96,
        176
      ],
      "id": "f029bafc-fee9-4295-89ca-07fd41c4c278",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Use essa tool para consultar os dados na vector store.",
        "method": "POST",
        "url": "https://axgadosyrdusqjjuhtxq.supabase.co/functions/v1/bright-action",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_PUBLISHABLE_DEFAULT_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        224,
        160
      ],
      "id": "d5ed8b84-a1ea-491f-b3fb-6c53b10bdf64",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        -320
      ],
      "id": "86ab26e3-dce0-494e-8961-07ca005154c0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        448,
        -304
      ],
      "id": "d147115c-e62e-4b43-af35-f082bee62c23",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "2Gs9L9jp7N83iXdJ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        -320
      ],
      "id": "7b90640a-4c53-47dc-b6ff-204e81cac648",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        432,
        -448
      ],
      "id": "16f9f798-421d-4f41-b937-e45451cf9397"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "142cd7a1-6fd3-4fa8-9b8c-a7a789d2fa3f",
              "name": "filmes",
              "value": "=id: {{ $json.id }};\ntitulo: {{ $json.titulo }};\nsinopse: {{ $json.sinopse }};\nano: {{ $json.ano }};\ngenero: {{ $json.genero }};",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -320
      ],
      "id": "405e4b96-62a0-4cf9-9010-2cb1695583b5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "119Xl-J06hY-bveQtP6HGADAC-Kb286yNPJfTKLVLVG0",
          "mode": "list",
          "cachedResultName": "filmes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/119Xl-J06hY-bveQtP6HGADAC-Kb286yNPJfTKLVLVG0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1545254603,
          "mode": "list",
          "cachedResultName": "Filmes_300",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/119Xl-J06hY-bveQtP6HGADAC-Kb286yNPJfTKLVLVG0/edit#gid=1545254603"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        -320
      ],
      "id": "b71ab3ad-24b7-4164-8fe6-f27843462a39",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RpDeQOiTDXB9SQDF",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.filmes }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        -80
      ],
      "id": "e032b49a-a206-4f70-bb53-6dd78297b62f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        560,
        64
      ],
      "id": "29a1d9c2-9efd-4ecc-b7af-5cf202258c66",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        -80
      ],
      "id": "53310e76-0f8e-43c9-8895-60fc214095a6",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "74f04AzjgNdUrhq7",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        []
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b21f699f-e544-4094-adf2-857df1fd58b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c7eef7bca8a96b457cc01c78590b6617a37570359ab75e32ba7ce551ea86da69"
  },
  "id": "PuUmBOB6qoxdZrQa",
  "tags": []
}